<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      
      <!-- <add name="CNN" connectionString="Data Source=MAHMOOD-PC;Initial Catalog=ProdBonus;Persist Security Info=True;User ID=sa;Password=pwd" providerName="System.Data.SqlClient"/>
      <add name="MainMenu.Properties.Settings.WPDBONUSConnectionString" connectionString="Data Source=192.168.242.39;Initial Catalog=ProdBonus;User ID=sa;Password=pwd" providerName="System.Data.SqlClient"/>
      -->

      <add name="CNN" connectionString="Data Source=192.168.246.21;Initial Catalog=WPDBONUS;Persist Security Info=True;User ID=sa;Password=khuljasimsim" providerName="System.Data.SqlClient"/>
     <add name="MainMenu.Properties.Settings.WPDBONUSConnectionString" connectionString="Data Source=192.168.246.21;Initial Catalog=WPDBONUS;User ID=sa;Password=khuljasimsim" providerName="System.Data.SqlClient"/>


    </connectionStrings>
 
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
